.doctor__section {
    padding: 100px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fdfdfd;
  }
  
  .doctor__container-card {
    background: linear-gradient(4deg, #ff0000 0%, #ff0c0c00 100%);
    box-shadow: 0 6px 20px rgba(29, 74, 163, 0.2);
    width: 400px;
    height: 480px;
    text-decoration: none;
    border-radius: 30px;
  }
  
  .doctor__container-card:nth-child(2) {
    transform: scale(1.05);
    background: linear-gradient(45deg, #eeeef5 0%, #0077ff 100%);;
  }
  
  .doctor__container-card:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
  }
  
  .doctor__container-card:nth-child(2) {
    margin: 0 24px;
  }
  
  .doctor__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .doctor__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  
  .doctor__heading {
    color: #1c2237;
    margin-bottom: 24px;
  }
  
  .doctor__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 24px;
    align-items: center;
    color: rgb(12, 10, 10);
  }
  
  .doctor__container-cardInfo h3 {
    margin-bottom: 5px;
    font-size: 24px;
  }
  
  .doctor__container-cardInfo h4 {
    font-size: 40px;
  }
  
  .doctor__container-cardInfo p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  
  .doctor__container-features {
    margin: 16px 0 32px;
    list-style: none;
  }
  
  .doctor__container-features li {
    margin-bottom: 10px;
  }
  
  .doctor__container-features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    margin: 24px 0;
  }
  
  @media screen and (max-width: 960px) {
    .doctor__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .doctor__container-card {
      width: 90%;
    }
  
    .doctor__wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .doctor__container-card:nth-child(2) {
      transform: scale(1);
      background: #242424;
      margin: 24px;
    }
  
    .doctor__container-card:hover {
      transform: none;
    }
  }

                      /* LOGIN DETAILS */


  /* Bordered form */
form {
  
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 13px;
  box-sizing: border-box;
}

/* Set a style for all buttonDrs */
buttonDr {
    display: flex;
    background-color: #7dfcff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 15px 16px;
    border-radius: 13px;
    height: 100%;
    width: 50%;
}

/* Add a hover effect for buttonDrs */
buttonDr:hover {
  opacity: 0.8;
}

/* Extra style for the cancel buttonDr (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel buttonDr on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}